version: '3.8'

services:
  odoo:
    image: odoo:19.0
    container_name: odoo_community
    depends_on:
      - db
    ports:
      - "8069:8069"
    volumes:
      - odoo-data:/var/lib/odoo
      - ./odoo-config:/etc/odoo
    environment:
      - ODOO_ADMIN_PASSWORD=admin
      - ODOO_DB_HOST=db
      - ODOO_DB_USER=odoo
      - ODOO_DB_PASSWORD=odoo
    restart: unless-stopped

  db:
    image: postgres:15
    container_name: odoo_postgres
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=odoo
      - POSTGRES_PASSWORD=odoo
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  odoo-data:
  postgres-data:
